<div id="page_title">
    <h1 class="title_header_center">Dites moi bonjour !</h1>
</div>

<div class="skinny_wrapper wrapper_padding">
  <h2>Merci pour votre message</h2>
  <p>je reviens vers vous rapidement !</p>
</div>
